@import 'partials/variables';

.blog {
  background-color: lighten($secondary, 20%);
  padding: $spacing;

  &__item {
    border-top: $spacing solid $secondary;

    &__image {
      img {
        max-width: 100%;
      }
    }
  }
}
